/* style.css: freefonts.geocities.org ************************/


/* load local working version ********************************/
@font-face {
    font-family: 'Dosis-VF';
    src: url('fonts/Dosis-VF.ttf'); 
    format("truetype");
}

body {
    background-color: #121212;
    color: #bbbbbb;
    font-family: 'Dosis-VF', sans-serif;
    font-size: 96px;
}

h1 {
    margin: 0;
    color: #000000;
    font-family: 'Dosis-VF', sans-serif;
    font-variation-settings: "wght" 600;
    margin-bottom: 64px;
}

p {
  margin: 0;
  color: black;
  font-size: 18px;
}

hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 0;
    padding: 0; 
}

/* load all remote fonts *************************************/
.ibm {
  font-family: 'Overpass Mono', monospace;
  color: black;
}
.gflive {
  font-family: 'Dosis', sans-serif;
}

/* grid setup ************************************************/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 16px;
  background-color: #dddddd;
  padding: 32px;
}

.grid-container > div {
  background-color: #dddddd;
  border-color: coral;
  border-width: 4px;
  text-align: left;
  padding: 16px;
  margin: 0;
  font-size: 36px;
  overflow-wrap: break-word;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.itema {
    grid-column-start: 1;
    grid-column-end: 2;
}

.itemb {
    grid-column-start: 2;
    grid-column-end: 3;
}

.itemc {
    grid-column-start: 3;
    grid-column-end: 4;
}


